<img src="http://www.digitalvidya.com/wp-content/uploads/2013/05/logoa5-300x95.png">

## Data Analysis using Python Assignment Week 6 
### Digital Vidya Copyright

We get NSE stocks data using package nsepy. You will have to first install nsepy using the command pip install nsepy. 

Use function get_history, it fetches the price history of stocks/indices/derivatives and returns a pandas dataframe.

We are going to use data of 'INFY', 'HDFC', 'RELIANCE', 'WIPRO' 

We have created the dataframe hdfc for you using symbol = 'HDFC', create other dataframes using symbols given above.

Once we get the data, we will do some aggregations using pandas functions and datetime functionalities.

In [17]:
import pandas as pd
import numpy as np
from nsepy import get_history
import datetime as dt

start = dt.datetime(2015, 1, 1)

end = dt.datetime.today()

hdfc = get_history(symbol='HDFC', start = start, end = end)
hdfc.index = pd.to_datetime(hdfc.index)
hdfc.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,HDFC,EQ,1135.90,1130.0,1131.15,1120.10,1125.90,1124.00,1124.23,401576,4.514650e+13,11804,128793,0.3207
2015-01-02,HDFC,EQ,1124.00,1127.3,1176.95,1125.35,1171.05,1171.90,1159.93,2019816,2.342845e+14,59071,1258847,0.6232
2015-01-05,HDFC,EQ,1171.90,1168.8,1175.00,1150.40,1154.95,1156.40,1159.24,2219458,2.572880e+14,57749,1414720,0.6374
2015-01-06,HDFC,EQ,1156.40,1148.6,1148.60,1096.10,1098.00,1101.95,1117.84,2531748,2.830100e+14,81436,1547523,0.6112
2015-01-07,HDFC,EQ,1101.95,1097.5,1114.15,1095.00,1097.65,1099.25,1105.58,2406880,2.660992e+14,133109,1533304,0.6371

#### 1. In hdfc, drop all the columns except Open, High, Low and Close. Call the new df hdfc_ohlc

In [18]:
hdfc.drop(['Prev Close','Symbol','Series','Last','VWAP','Volume','Turnover','Deliverable Volume','%Deliverble','Trades'],axis=1,inplace=True)
hdfc
hdfc_ohlc= hdfc[['Open','High','Low','Close']]
hdfc_ohlc

               Open     High      Low    Close
Date
2015-01-01  1130.00  1131.15  1120.10  1124.00
2015-01-02  1127.30  1176.95  1125.35  1171.90
2015-01-05  1168.80  1175.00  1150.40  1156.40
2015-01-06  1148.60  1148.60  1096.10  1101.95
2015-01-07  1097.50  1114.15  1095.00  1099.25
2015-01-08  1114.00  1128.50  1110.00  1123.35
2015-01-09  1127.00  1135.95  1103.40  1113.30
2015-01-12  1114.35  1135.00  1098.40  1128.55
2015-01-13  1134.40  1137.30  1113.60  1122.20
2015-01-14  1128.70  1136.85  1112.60  1120.30
2015-01-15  1145.05  1210.90  1144.70  1202.55
2015-01-16  1207.50  1209.00  1191.00  1194.55
2015-01-19  1198.00  1204.65  1178.15  1181.70
2015-01-20  1185.10  1257.75  1181.05  1251.55
2015-01-21  1259.00  1297.40  1252.25  1287.20
2015-01-22  1287.00  1294.85  1272.00  1279.65
2015-01-23  1288.70  1340.95  1280.20  1290.10
2015-01-27  1303.90  1320.00  1288.55  1315.85
2015-01-28  1323.95  1361.85  1300.70  1344.60
2015-01-29  1338.15  1343.90  1295.40  1315.55
2015-01-30  1328.40  1333.00  1257.75  1262.50
2015-02-02  1262.50  1284.50  1243.60  1269.30
2015-02-03  1262.50  1272.00  1225.90  1230.15
2015-02-04  1231.05  1252.00  1221.10  1232.45
2015-02-05  1236.90  1292.00  1208.15  1246.45
2015-02-06  1245.00  1289.80  1244.30  1280.55
2015-02-09  1267.00  1279.25  1245.55  1271.95
2015-02-10  1254.10  1293.00  1232.30  1246.15
2015-02-11  1248.90  1267.70  1242.25  1245.80
2015-02-12  1254.95  1260.00  1240.40  1253.25
...             ...      ...      ...      ...
2019-01-25  1964.40  1993.00  1963.95  1977.80
2019-01-28  1978.70  1982.20  1938.10  1946.90
2019-01-29  1943.70  1949.90  1893.30  1922.30
2019-01-30  1924.60  1929.30  1869.50  1885.80
2019-01-31  1883.00  1941.20  1877.30  1922.35
2019-02-01  1929.00  1974.45  1925.10  1961.25
2019-02-04  1959.90  1981.95  1942.00  1978.50
2019-02-05  1979.80  1985.00  1962.25  1981.40
2019-02-06  1983.60  1994.90  1975.50  1987.95
2019-02-07  1990.05  1991.95  1962.55  1969.65
2019-02-08  1963.10  1968.60  1936.85  1944.65
2019-02-11  1943.90  1959.00  1935.60  1948.20
2019-02-12  1950.00  1956.40  1901.15  1905.05
2019-02-13  1907.10  1943.00  1907.10  1930.50
2019-02-14  1921.00  1929.25  1893.85  1900.70
2019-02-15  1900.60  1900.60  1856.50  1874.90
2019-02-18  1877.30  1893.00  1864.05  1874.85
2019-02-19  1870.00  1888.50  1844.25  1853.45
2019-02-20  1865.00  1874.95  1858.00  1870.50
2019-02-21  1871.00  1894.70  1865.10  1891.45
2019-02-22  1893.95  1899.00  1877.50  1887.40
2019-02-25  1897.90  1897.90  1871.50  1894.50
2019-02-26  1874.00  1894.65  1850.00  1853.65
2019-02-27  1868.00  1870.00  1820.00  1841.00
2019-02-28  1849.00  1853.65  1834.60  1841.20
2019-03-01  1850.40  1863.40  1838.30  1859.45
2019-03-05  1856.80  1868.40  1838.55  1860.00
2019-03-06  1864.70  1889.50  1858.80  1885.20
2019-03-07  1892.00  1892.00  1865.20  1880.20
2019-03-08  1879.00  1888.00  1871.10  1884.05

[1037 rows x 4 columns]

#### 2. Use the dataframe hdfc_ohlc created in qn 1 to create hdfc_mean with mean prices every year.

In [19]:
hdfc_mean=hdfc_ohlc.groupby(hdfc_ohlc.index.year).mean()
hdfc_mean

             Open         High          Low        Close
Date
2015  1251.421371  1266.912298  1234.441532  1250.470363
2016  1247.437247  1260.384211  1232.126316  1246.904656
2017  1592.671573  1606.061290  1577.860887  1592.489315
2018  1862.144512  1878.798577  1842.086992  1860.663415
2019  1937.540625  1951.603125  1916.606250  1934.857292

#### 3. Group the hdfc_ohlc to get the mean prices per week per year. The resulting dataframe hdfc_weekly should have mean price data for week 1 to 52 for years 2015, 2016 and 2017. 

Hint: You may have to groupby open_prices.index.week and open_prices.index.year to ensure that you get data per week per year.

In [24]:
hdfc_weekly=hdfc_ohlc[hdfc_ohlc.index.year.isin([2015,2016,2017])]
hdfc_weekly=hdfc_weekly.groupby([hdfc_weekly.index.year.rename('year'),hdfc_weekly.index.week.rename('week')]).mean()
hdfc_weekly

                  Open         High          Low        Close
year week
2015 1     1128.650000  1154.050000  1122.725000  1147.950000
     2     1131.180000  1140.440000  1110.980000  1118.850000
     3     1146.000000  1165.810000  1132.060000  1153.630000
     4     1243.560000  1279.120000  1232.730000  1258.040000
     5     1323.600000  1339.687500  1285.600000  1309.625000
     6     1247.590000  1278.060000  1228.610000  1251.780000
     7     1255.770000  1274.990000  1240.830000  1257.160000
     8     1314.375000  1336.450000  1301.825000  1325.800000
     9     1336.733333  1355.525000  1316.083333  1331.741667
     10    1360.200000  1386.862500  1345.475000  1367.625000
     11    1353.460000  1362.520000  1321.530000  1332.880000
     12    1327.960000  1343.350000  1308.220000  1326.670000
     13    1332.340000  1350.980000  1307.480000  1321.100000
     14    1302.616667  1324.583333  1291.466667  1319.650000
     15    1326.330000  1331.280000  1296.480000  1310.480000
     16    1303.600000  1312.862500  1287.275000  1302.300000
     17    1275.350000  1288.040000  1251.720000  1265.040000
     18    1222.550000  1232.100000  1184.112500  1202.787500
     19    1177.190000  1192.070000  1162.070000  1177.150000
     20    1210.580000  1228.620000  1192.330000  1216.170000
     21    1251.920000  1274.990000  1239.780000  1263.780000
     22    1246.820000  1258.060000  1227.550000  1239.660000
     23    1221.570000  1232.990000  1202.190000  1214.210000
     24    1183.520000  1200.180000  1168.740000  1182.160000
     25    1206.420000  1223.400000  1195.780000  1212.930000
     26    1275.900000  1296.410000  1262.600000  1287.470000
     27    1286.370000  1304.020000  1276.960000  1295.180000
     28    1306.390000  1318.860000  1292.920000  1302.720000
     29    1327.850000  1345.240000  1313.670000  1333.730000
     30    1331.780000  1347.030000  1318.130000  1336.400000
...                ...          ...          ...          ...
2017 23    1612.600000  1626.470000  1601.870000  1618.400000
     24    1646.120000  1661.340000  1635.720000  1648.790000
     25    1645.680000  1655.800000  1631.360000  1643.820000
     26    1641.650000  1651.425000  1622.462500  1631.800000
     27    1629.760000  1643.900000  1615.880000  1633.690000
     28    1650.920000  1658.000000  1630.820000  1645.230000
     29    1657.160000  1663.540000  1640.330000  1650.430000
     30    1657.860000  1695.290000  1644.980000  1682.260000
     31    1769.490000  1779.520000  1742.380000  1760.570000
     32    1718.860000  1737.070000  1701.300000  1716.420000
     33    1732.337500  1757.012500  1712.975000  1737.500000
     34    1748.987500  1760.037500  1740.325000  1752.787500
     35    1759.700000  1774.780000  1743.520000  1757.950000
     36    1766.180000  1779.590000  1753.100000  1771.710000
     37    1781.680000  1791.430000  1767.940000  1779.730000
     38    1769.230000  1781.610000  1758.950000  1772.210000
     39    1751.780000  1763.430000  1725.160000  1740.430000
     40    1759.925000  1771.900000  1741.375000  1755.350000
     41    1748.540000  1759.900000  1740.910000  1753.440000
     42    1760.637500  1766.450000  1746.312500  1754.987500
     43    1717.440000  1728.940000  1678.740000  1702.750000
     44    1728.300000  1754.110000  1717.510000  1741.210000
     45    1759.560000  1773.390000  1734.330000  1747.530000
     46    1676.220000  1691.190000  1662.080000  1670.500000
     47    1702.040000  1714.730000  1692.500000  1703.500000
     48    1707.100000  1713.650000  1685.790000  1695.030000
     49    1665.990000  1679.700000  1652.790000  1669.360000
     50    1705.440000  1718.840000  1694.520000  1708.990000
     51    1713.990000  1722.330000  1693.320000  1706.810000
     52    1709.437500  1715.500000  1698.725000  1706.912500

[158 rows x 4 columns]

#### 4. Create a dataframe infy and find total volumn by month, save it in infy_volume. Infy_volume should be a multi-index series with tow levels of index - Year and Month.

In [6]:
import pandas as pd
import numpy as np
from nsepy import get_history
import datetime as dt

start = dt.datetime(2015, 1, 1)

end = dt.datetime.today()

infy= get_history(symbol='INFY', start = start, end = end)
infy.index = pd.to_datetime(infy.index)
infy.head()
infy=infy.groupby([infy.index.year.rename('year'),infy.index.month.rename('month')]).Volume.sum()

infy_volume= infy
infy_volume

year  month
2015  1         58121939
      2         34443651
      3         35499347
      4         54659095
      5         41017592
      6         52717248
      7         88545667
      8         87908192
      9         82606053
      10        89434980
      11        56277522
      12        58322483
2016  1         78268786
      2         53847523
      3         78800532
      4         65179381
      5         55144806
      6         67069050
      7        103318265
      8         78116022
      9         59415210
      10        60013510
      11        83086381
      12        62414827
2017  1        114669064
      2         82966621
      3         67841984
      4         70807792
      5         61293292
      6         78667556
      7         84483188
      8        291186932
      9        106212215
      10        91849551
      11        85049444
      12        80623477
2018  1        132341747
      2         90708757
      3         75342629
      4        119445089
      5         76329633
      6         74446403
      7        111375283
      8         76610324
      9        146032553
      10       186538368
      11       169740064
      12       154714992
2019  1        212509846
      2        119007692
      3          3998826
Name: Volume, dtype: int64

#### 5. Create a series infy_pctchange from the infy_volume dataframe created in qn 4. It should have two levels of index, Year and Month and the value should be % change in volume compared to the previous row.

In [9]:
import pandas as pd
import numpy as np
from nsepy import get_history
import datetime as dt

start = dt.datetime(2015, 1, 1)

end = dt.datetime.today()

infy = get_history(symbol='INFY', start = start, end = end)
infy.index = pd.to_datetime(infy.index)
infy
infy.insert(0,'year',infy.index.year)
infy.insert(0,'month',infy.index.month)
infy_volume=infy.groupby([infy.year,infy.month]).Volume.sum()

#=infy.groupby(infy.index.year).Volume.sum()
infy_volume[2]
infy_pctchange=infy_volume
i=0
while i<len(infy_volume)-1:
    pct=((infy_volume[i+1]-infy_volume[i])/infy_volume[i]) *100
    infy_pctchange[i]=pct
    i=i+1
infy_pctchange

year  month
2015  1             -40
      2               3
      3              53
      4             -24
      5              28
      6              67
      7               0
      8              -6
      9               8
      10            -37
      11              3
      12             34
2016  1             -31
      2              46
      3             -17
      4             -15
      5              21
      6              54
      7             -24
      8             -23
      9               1
      10             38
      11            -24
      12             83
2017  1             -27
      2             -18
      3               4
      4             -13
      5              28
      6               7
      7             244
      8             -63
      9             -13
      10             -7
      11             -5
      12             64
2018  1             -31
      2             -16
      3              58
      4             -36
      5              -2
      6              49
      7             -31
      8              90
      9              27
      10             -9
      11             -8
      12             37
2019  1             -43
      2             -76
      3        28047544
Name: Volume, dtype: int64

#### 6. Create dataframe reliance, keep only columns PrevClose and Close and create a column diff which would be the difference between Close and PrevClose

In [10]:
import pandas as pd
import numpy as np
from nsepy import get_history
import datetime as dt

start = dt.datetime(2015, 1, 1)

end = dt.datetime.today()

reliance = get_history(symbol='RELIANCE', start = start, end = end)
reliance.index = pd.to_datetime(reliance.index)
reliance.head()
reliance=pd.DataFrame(reliance).reset_index()
reliance

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2015-01-01,RELIANCE,EQ,891.15,886.30,892.00,883.65,888.00,887.90,887.62,677439,6.013059e+13,16263,286377,0.4227
1,2015-01-02,RELIANCE,EQ,887.90,888.10,896.05,884.30,884.95,885.55,889.39,1675827,1.490461e+14,31269,1048543,0.6257
2,2015-01-05,RELIANCE,EQ,885.55,885.00,890.90,874.10,875.55,875.85,881.88,2309591,2.036781e+14,67035,1393132,0.6032
3,2015-01-06,RELIANCE,EQ,875.85,870.00,873.00,832.00,832.50,836.10,847.60,4258043,3.609133e+14,120767,2353273,0.5527
4,2015-01-07,RELIANCE,EQ,836.10,837.10,858.80,837.00,858.00,854.30,849.81,4736315,4.024972e+14,125939,2885468,0.6092
5,2015-01-08,RELIANCE,EQ,854.30,860.10,862.90,840.15,843.00,842.05,845.70,4542457,3.841574e+14,77800,2663830,0.5864
6,2015-01-09,RELIANCE,EQ,842.05,848.40,862.00,845.00,861.50,860.30,852.15,3061366,2.608741e+14,56795,1697823,0.5546
7,2015-01-12,RELIANCE,EQ,860.30,860.50,861.00,841.60,852.50,850.30,847.51,2308716,1.956662e+14,59103,1263612,0.5473
8,2015-01-13,RELIANCE,EQ,850.30,853.00,854.95,840.50,845.00,843.15,844.77,2274108,1.921107e+14,50755,1310196,0.5761
9,2015-01-14,RELIANCE,EQ,843.15,843.00,847.00,831.20,837.00,834.95,836.09,2601286,2.174913e+14,80257,1468754,0.5646
10,2015-01-15,RELIANCE,EQ,834.95,840.00,871.10,840.00,863.00,864.25,857.07,3869247,3.316204e+14,78705,2364008,0.6110
11,2015-01-16,RELIANCE,EQ,864.25,860.00,875.00,852.05,867.50,869.70,867.39,4374388,3.794307e+14,100057,2654750,0.6069
12,2015-01-19,RELIANCE,EQ,869.70,870.20,886.00,858.75,879.75,879.65,877.24,3049291,2.674972e+14,75661,965555,0.3166
13,2015-01-20,RELIANCE,EQ,879.65,881.50,905.55,878.85,902.55,903.05,894.34,3054173,2.731470e+14,66755,1481484,0.4851
14,2015-01-21,RELIANCE,EQ,903.05,905.00,911.40,892.05,907.05,906.75,903.73,3905183,3.529238e+14,84816,1996975,0.5114
15,2015-01-22,RELIANCE,EQ,906.75,905.15,907.20,879.50,884.20,883.75,888.39,5422365,4.817156e+14,117060,3881123,0.7158
16,2015-01-23,RELIANCE,EQ,883.75,890.00,897.80,877.00,886.85,886.90,887.29,4132897,3.667065e+14,96749,2451611,0.5932
17,2015-01-27,RELIANCE,EQ,886.90,892.90,896.70,880.50,887.25,889.05,888.34,4100754,3.642849e+14,139067,2715836,0.6623
18,2015-01-28,RELIANCE,EQ,889.05,886.10,909.80,886.10,906.55,906.85,898.00,4411227,3.961282e+14,80550,2626389,0.5954
19,2015-01-29,RELIANCE,EQ,906.85,907.10,934.50,906.90,927.95,929.40,926.40,8255888,7.648231e+14,171319,5054578,0.6122
20,2015-01-30,RELIANCE,EQ,929.40,930.00,931.25,909.00,916.35,915.25,918.15,4970953,4.564056e+14,84169,2810831,0.5655
21,2015-02-02,RELIANCE,EQ,915.25,916.05,919.90,905.70,908.20,908.05,912.65,4412275,4.026871e+14,50967,2196576,0.4978
22,2015-02-03,RELIANCE,EQ,908.05,913.20,940.85,913.20,936.30,937.60,930.35,3907020,3.634896e+14,93747,1799461,0.4606
23,2015-02-04,RELIANCE,EQ,937.60,939.10,943.80,925.90,926.70,928.80,936.76,3216827,3.013388e+14,59577,1633822,0.5079
24,2015-02-05,RELIANCE,EQ,928.80,936.00,939.90,917.60,921.60,923.70,930.11,2826578,2.629035e+14,58327,1217769,0.4308
25,2015-02-06,RELIANCE,EQ,923.70,924.10,930.00,903.00,911.15,909.90,916.30,2067728,1.894668e+14,50276,906160,0.4382
26,2015-02-09,RELIANCE,EQ,909.90,901.20,918.00,892.00,894.35,896.70,905.54,2020605,1.829748e+14,55988,880015,0.4355
27,2015-02-10,RELIANCE,EQ,896.70,898.00,904.50,861.30,884.60,882.00,887.96,3120391,2.770794e+14,83170,1215405,0.3895
28,2015-02-11,RELIANCE,EQ,882.00,886.00,904.75,883.00,901.50,900.70,894.64,2235774,2.000218e+14,43905,1002752,0.4485
29,2015-02-12,RELIANCE,EQ,900.70,908.00,913.95,887.25,912.55,909.15,899.35,1990874,1.790499e+14,54081,744878,0.3741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,2019-01-21,RELIANCE,EQ,1184.35,1194.00,1239.95,1188.65,1235.00,1237.70,1222.77,22038534,2.694805e+15,403702,6427362,0.2916
1004,2019-01-22,RELIANCE,EQ,1237.70,1232.85,1246.95,1219.60,1232.00,1235.15,1234.02,16552819,2.042653e+15,283673,4373694,0.2642
1005,2019-01-23,RELIANCE,EQ,1235.15,1233.30,1244.20,1222.00,1224.45,1226.30,1233.79,8829502,1.089376e+15,142555,3120131,0.3534
1006,2019-01-24,RELIANCE,EQ,1226.30,1225.00,1253.20,1220.10,1249.00,1247.45,1240.42,13155185,1.631801e+15,225787,3750294,0.2851
1007,2019-01-25,RELIANCE,EQ,1247.45,1250.45,1264.70,1235.40,1247.10,1246.00,1253.45,8550836,1.071805e+15,183744,2362577,0.2763
1008,2019-01-28,RELIANCE,EQ,1246.00,1250.50,1255.95,1222.40,1230.50,1229.55,1237.32,8569265,1.060296e+15,188470,3185043,0.3717
1009,2019-01-29,RELIANCE,EQ,1229.55,1231.00,1231.65,1201.35,1214.90,1210.65,1212.83,9328866,1.131435e+15,169968,4553808,0.4881
1010,2019-01-30,RELIANCE,EQ,1210.65,1215.00,1225.00,1191.10,1195.75,1195.70,1208.06,7846940,9.479602e+14,153142,3095594,0.3945
1011,2019-01-31,RELIANCE,EQ,1195.70,1202.00,1229.70,1201.00,1225.20,1227.15,1220.45,10185347,1.243072e+15,221969,5218187,0.5123
1012,2019-02-01,RELIANCE,EQ,1227.15,1234.00,1255.00,1227.05,1253.10,1249.95,1240.68,9228965,1.145020e+15,214121,3715944,0.4026
1013,2019-02-04,RELIANCE,EQ,1249.95,1247.00,1296.95,1242.05,1289.50,1290.90,1269.56,11670570,1.481649e+15,238268,4215486,0.3612
1014,2019-02-05,RELIANCE,EQ,1290.90,1292.00,1304.40,1278.60,1288.00,1291.55,1292.06,9362406,1.209675e+15,188250,3245178,0.3466
1015,2019-02-06,RELIANCE,EQ,1291.55,1296.25,1317.65,1294.25,1310.55,1310.25,1309.33,9411585,1.232287e+15,171848,3426503,0.3641
1016,2019-02-07,RELIANCE,EQ,1310.25,1310.25,1321.20,1286.10,1288.00,1290.40,1302.19,9212227,1.199604e+15,227737,2945960,0.3198
1017,2019-02-08,RELIANCE,EQ,1290.40,1284.80,1300.50,1272.25,1277.80,1277.70,1282.97,6505502,8.346364e+14,174433,2225628,0.3421
1018,2019-02-11,RELIANCE,EQ,1277.70,1275.90,1276.00,1251.00,1254.50,1253.25,1259.38,7523999,9.475609e+14,154193,4104534,0.5455
1019,2019-02-12,RELIANCE,EQ,1253.25,1251.50,1272.35,1251.50,1255.50,1256.40,1261.80,6399485,8.074848e+14,173602,2638007,0.4122
1020,2019-02-13,RELIANCE,EQ,1256.40,1261.00,1273.95,1235.75,1238.30,1245.95,1258.94,6964042,8.767311e+14,150257,2579211,0.3704
1021,2019-02-14,RELIANCE,EQ,1245.95,1241.00,1241.00,1218.00,1229.10,1224.20,1227.02,6627360,8.131901e+14,138445,2505560,0.3781
1022,2019-02-15,RELIANCE,EQ,1224.20,1229.75,1249.90,1214.00,1248.10,1244.45,1228.62,9597961,1.179225e+15,175538,3834033,0.3995
1023,2019-02-18,RELIANCE,EQ,1244.45,1250.00,1252.50,1215.00,1215.65,1220.10,1226.57,9649017,1.183516e+15,212673,4211189,0.4364
1024,2019-02-19,RELIANCE,EQ,1220.10,1218.00,1239.70,1211.20,1215.60,1216.10,1228.49,6244189,7.670927e+14,149603,1681609,0.2693
1025,2019-02-20,RELIANCE,EQ,1216.10,1223.85,1240.00,1219.00,1235.55,1234.35,1228.29,6298179,7.736006e+14,157634,2060904,0.3272
1026,2019-02-21,RELIANCE,EQ,1234.35,1236.00,1257.80,1229.35,1247.30,1246.90,1246.51,10580178,1.318833e+15,206387,4866938,0.4600
1027,2019-02-22,RELIANCE,EQ,1246.90,1244.60,1245.30,1226.00,1231.70,1232.35,1233.91,8755865,1.080399e+15,169765,3503955,0.4002
1028,2019-02-25,RELIANCE,EQ,1232.35,1236.00,1243.00,1220.65,1231.30,1232.30,1232.29,7852528,9.676593e+14,159793,3212379,0.4091
1029,2019-02-26,RELIANCE,EQ,1232.30,1209.50,1234.80,1206.00,1220.20,1220.25,1221.22,10131050,1.237229e+15,166251,3886999,0.3837
1030,2019-02-27,RELIANCE,EQ,1220.25,1228.05,1244.90,1209.00,1220.65,1223.50,1227.12,11113182,1.363725e+15,222847,4163615,0.3747
1031,2019-02-28,RELIANCE,EQ,1223.50,1233.75,1239.85,1226.55,1232.00,1231.05,1233.07,11286916,1.391757e+15,179607,5923497,0.5248
1032,2019-03-01,RELIANCE,EQ,1231.05,1237.00,1242.35,1222.25,1225.00,1226.05,1229.08,7922513,9.737414e+14,156673,4129082,0.5212

In [17]:
reliance['diff'] = reliance['Close'] - reliance['Prev Close']
reliance
reliance=reliance[['Prev Close','Close','diff']]
reliance

      Prev Close    Close   diff
0         891.15   887.90  -3.25
1         887.90   885.55  -2.35
2         885.55   875.85  -9.70
3         875.85   836.10 -39.75
4         836.10   854.30  18.20
5         854.30   842.05 -12.25
6         842.05   860.30  18.25
7         860.30   850.30 -10.00
8         850.30   843.15  -7.15
9         843.15   834.95  -8.20
10        834.95   864.25  29.30
11        864.25   869.70   5.45
12        869.70   879.65   9.95
13        879.65   903.05  23.40
14        903.05   906.75   3.70
15        906.75   883.75 -23.00
16        883.75   886.90   3.15
17        886.90   889.05   2.15
18        889.05   906.85  17.80
19        906.85   929.40  22.55
20        929.40   915.25 -14.15
21        915.25   908.05  -7.20
22        908.05   937.60  29.55
23        937.60   928.80  -8.80
24        928.80   923.70  -5.10
25        923.70   909.90 -13.80
26        909.90   896.70 -13.20
27        896.70   882.00 -14.70
28        882.00   900.70  18.70
29        900.70   909.15   8.45
...          ...      ...    ...
1003     1184.35  1237.70  53.35
1004     1237.70  1235.15  -2.55
1005     1235.15  1226.30  -8.85
1006     1226.30  1247.45  21.15
1007     1247.45  1246.00  -1.45
1008     1246.00  1229.55 -16.45
1009     1229.55  1210.65 -18.90
1010     1210.65  1195.70 -14.95
1011     1195.70  1227.15  31.45
1012     1227.15  1249.95  22.80
1013     1249.95  1290.90  40.95
1014     1290.90  1291.55   0.65
1015     1291.55  1310.25  18.70
1016     1310.25  1290.40 -19.85
1017     1290.40  1277.70 -12.70
1018     1277.70  1253.25 -24.45
1019     1253.25  1256.40   3.15
1020     1256.40  1245.95 -10.45
1021     1245.95  1224.20 -21.75
1022     1224.20  1244.45  20.25
1023     1244.45  1220.10 -24.35
1024     1220.10  1216.10  -4.00
1025     1216.10  1234.35  18.25
1026     1234.35  1246.90  12.55
1027     1246.90  1232.35 -14.55
1028     1232.35  1232.30  -0.05
1029     1232.30  1220.25 -12.05
1030     1220.25  1223.50   3.25
1031     1223.50  1231.05   7.55
1032     1231.05  1226.05  -5.00

[1033 rows x 3 columns]

#### 6. Create dataframe wipro and keep columns Open, High, Low, Close. Now find minimum close price each month by year.

In [1]:
import pandas as pd
import numpy as np
from nsepy import get_history
import datetime as dt

start = dt.datetime(2015, 1, 1)

end = dt.datetime.today()

wipro= get_history(symbol='WIPRO', start = start, end = end)
wipro.index = pd.to_datetime(wipro.index)
wipro.head()
wipro=pd.DataFrame(wipro).reset_index()
wipro
wipro=wipro[['Open','High','Low','Close']]
wipro

        Open    High     Low   Close
0     552.55  554.40  550.50  552.40
1     553.40  560.25  553.00  557.30
2     557.05  565.00  555.50  558.30
3     555.00  556.40  542.10  545.25
4     543.20  545.00  538.35  541.10
5     556.15  558.90  543.20  545.00
6     549.20  560.00  543.25  553.50
7     550.00  559.00  547.70  556.05
8     557.10  566.70  555.00  563.50
9     566.00  569.50  550.00  551.95
10    560.00  564.00  551.25  559.50
11    560.80  563.40  552.90  555.05
12    591.10  598.50  582.35  584.20
13    586.10  594.00  582.90  590.40
14    589.60  595.00  576.65  588.70
15    590.00  597.70  584.70  594.55
16    599.20  604.00  590.25  601.80
17    602.40  605.75  595.00  598.55
18    596.00  612.00  595.75  607.25
19    608.00  614.50  599.80  602.70
20    606.90  610.05  597.15  606.55
21    612.00  627.70  609.00  625.10
22    624.00  628.05  617.75  621.55
23    623.20  629.90  616.25  619.20
24    620.95  643.10  620.90  638.25
25    638.00  654.70  636.00  643.25
26    639.90  650.00  635.60  647.80
27    641.00  652.00  637.35  642.60
28    646.00  649.00  633.15  638.40
29    643.50  653.00  641.25  646.80
...      ...     ...     ...     ...
1007  348.25  358.35  348.00  353.45
1008  354.35  362.70  354.25  355.15
1009  356.00  360.80  353.05  359.40
1010  359.00  367.65  358.00  363.25
1011  366.00  371.40  363.30  369.20
1012  370.10  372.45  363.50  371.55
1013  370.00  374.70  368.10  371.25
1014  370.00  372.20  365.80  368.45
1015  369.15  374.95  368.75  372.20
1016  372.00  374.50  369.65  373.60
1017  371.50  374.90  368.70  372.70
1018  370.90  377.40  369.70  373.05
1019  374.15  376.25  368.35  375.00
1020  374.80  379.70  373.25  377.45
1021  376.40  378.40  373.95  375.10
1022  375.25  377.35  370.15  376.10
1023  378.80  378.80  370.75  375.60
1024  372.55  375.40  362.20  363.45
1025  363.20  374.00  361.20  372.20
1026  372.80  376.80  370.80  374.55
1027  375.00  380.00  373.50  378.75
1028  380.80  386.70  379.25  385.40
1029  384.50  388.95  381.25  387.65
1030  380.25  383.85  372.40  374.40
1031  374.90  376.70  366.60  368.90
1032  370.90  378.35  365.50  375.70
1033  374.00  374.65  362.00  363.60
1034  274.40  285.90  273.10  277.45
1035  280.00  280.30  267.50  268.85
1036  261.10  262.25  256.55  257.70

[1037 rows x 4 columns]

In [13]:

wipro=wipro.groupby([wipro.index.year.rename('year'),wipro.index.month.rename('month')]).Close.min()
wipro

year  month
2015  1        541.10
      2        619.20
      3        612.15
      4        523.20
      5        532.35
      6        537.35
      7        544.90
      8        541.30
      9        552.10
      10       567.75
      11       551.50
      12       554.20
2016  1        537.45
      2        517.20
      3        533.20
      4        549.55
      5        533.10
      6        535.10
      7        537.75
      8        478.80
      9        472.20
      10       461.70
      11       437.15
      12       453.35
2017  1        458.00
      2        455.65
      3        484.50
      4        490.85
      5        494.90
      6        254.25
      7        257.70
      8        286.50
      9        280.25
      10       282.75
      11       291.90
      12       281.20
2018  1        304.70
      2        285.00
      3        274.00
      4        276.15
      5        260.85
      6        255.25
      7        260.60
      8        277.05
      9        308.35
      10       308.80
      11       307.10
      12       322.10
2019  1        312.55
      2        363.45
      3        257.70
Name: Close, dtype: float64

#### 7. For wipro, find the number of days the close price was greater than open price

In [2]:
import pandas as pd
import numpy as np
from nsepy import get_history
import datetime as dt

start = dt.datetime(2015, 1, 1)

end = dt.datetime.today()

wipro= get_history(symbol='WIPRO', start = start, end = end)
wipro.index = pd.to_datetime(wipro.index)
wipro
wipro1 = wipro.Close > wipro.Open
counter= sum(wipro1)
counter

505

#### 8. Find the date in which wipro close price was maximum.

In [18]:
wipro.groupby(wipro.index.year).Close.idxmax()

Date
2015   2015-03-03
2016   2016-04-20
2017   2017-06-06
2018   2018-12-19
2019   2019-02-26
Name: Close, dtype: datetime64[ns]

#### 9. Find dates when wipro close price was max year, what was the price? 
Hint: Read about idxmax

In [3]:
wipro.groupby(wipro.index.year).Close.idxmax()

Date
2015   2015-03-03
2016   2016-04-20
2017   2017-06-06
2018   2018-12-19
2019   2019-02-26
Name: Close, dtype: datetime64[ns]

In [4]:
wipro.groupby(wipro.index.year).Close.max()

Date
2015    672.45
2016    601.25
2017    560.55
2018    340.70
2019    387.65
Name: Close, dtype: float64